body {
    margin: 5px;
    background-image: url("images/nicole-honeywill-HL3EOgFiy0k-unsplash.jpg");
    background-image: rgba(0, 151, 19, 0.3);
    opacity: 0.9;
    padding: 5px;
    background-size: 90%;
}

#aboutPanel {
    background-color: white;
    opacity: 0.8;
    height: 90px;
    margin: 4px;
    font-size: 18pt;
    font-family: 'Permanent Marker', cursive;
    padding: 30px;
}

#portfolioPanel {
    background-color: white;
    opacity: 0.8;
    height: 90px;
    margin: 4px;
    font-size: 18pt;
    font-family: 'Permanent Marker', cursive;
    padding: 30px;
}

#contactPanel {
    background-color: white;
    opacity: 0.8;
    height: 90px;
    margin: 4px;
    font-size: 18pt;
    font-family: 'Permanent Marker', cursive;
    padding: 30px;
}

.col-4 {
    background-color: rgb(163, 162, 162);
    margin: auto;
    padding: 10px;
    opacity: 0.9;
}

#aboutPanel:hover {
    background-color: white;
    opacity: 1;
    cursor: pointer;
}

#contactPanel:hover {
    background-color: white;
    opacity: 1;
    cursor: pointer;
}

#portfolioPanel:hover {
    background-color: white;
    opacity: 1;
    cursor: pointer;
}

.btn {
    color: rgb(116, 78, 116);
    opacity: 1;
}

#navbarText {
    color: rgb(116, 78, 116);
    opacity: 1;
    font-size: 20pt;
    font-family: 'Permanent Marker', cursive;
}

p {
    color: black;
    font-family: 'Quicksand', sans-serif;
}

footer {
    color: black;
    size: 13px;
    opacity: 1;
    text-align: right;
}

#aboutMe {
    display: none;
    background: rgb(255, 255, 255);
    margin: 4px;
    width: 95%;
    font-size: 14pt;
    padding: 20px;
    float: right;
    opacity: 0.8;
}

.form-group {
    display: none;
    width: 100%;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    opacity: 1;
    color: rgb(34, 33, 33);
}