
body {
    margin: 5px;
    /* opacity: 0.6; */
    /* padding: 5px;
    /* color: black; */
    background-size: 90%;
} 

#background {
    opacity: 0.5;
    background-size: 90%;
    margin: 5px;
}

h1 {
    color: black;
    font-size: 20pt;
}

#panel {
    background-color: white;
    opacity: 0.7;
    height: 90px;
    margin: 4px;
    font-size: 18pt;
    color: black;
    padding: 30px;
}


#contactPanel {
    background-color: white;
    opacity: 0.7;
    height: 90px;
    margin: 4px;
    font-size: 18pt;
    padding: 30px;
}

#portfolioPanel {
    background-color: white;
    opacity: 0.7;
    height: 90px;
    margin: 4px;
    font-size: 18pt;
    padding: 30px;
}

.col-4 {
    background-color: gray;
    margin: auto;
    padding: 10px;
    /* opacity: 1; */
}

#panel:hover {
    background-color: white;
    opacity: 1;
    color: black;
    cursor: pointer;
}


#contactPanel:hover {
    background-color: white;
    opacity: 1;
    cursor: pointer;
}


#portfolioPanel:hover {
    background-color: white;
    opacity: 1;
    cursor: pointer;
}
.btn {
    color: rgb(116, 78, 116);
    opacity: 1;
}

.navbar-text {
    color: black;
    opacity: 1;
    font-size: 20pt;
    text-align: left;
}

footer {
    color: black;
    size: 13px;
    text-align: right;
}


#aboutMe {
    display: none;
    /* height: 100px; */
    /* margin: 4px; */
    background-image: url(/style/images/wall_joanna-kosinska-mjC9apK53a8-unsplash.jpg);
    width: 95%;
    font-size: 14pt;
    padding: 20px;
    float: right;
    color: black;
}


#contactForm {
    display: none;
    /* background-image: url(images/wall_joanna-kosinska-mjC9apK53a8-unsplash.jpg); */
    width: 100%;
    font-weight: bold;
    opacity: 1;
    color: rgb(34, 33, 33);
}

