body {
    margin: 40px;
    opacity: 0.8;
    padding: 50px;
    background-color: gray;
}

.btn {
    color: rgb(116, 78, 116);
    opacity: 1;
}

.navbar {
    color: black;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    text-align: left;
}

.card:hover {
    opacity: .7;
    color: rgb(41, 40, 40);
    cursor: pointer;
}

a:link {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: blue;
}