
body {
    margin: 40px;
    opacity: 0.8;
    padding: 50px;
    background-color: gray;
}

.btn {
    color: rgb(116, 78, 116);
    opacity: 1;
}

.navbar-text {
    color: black;
    opacity: 1;
    font-size: 30px;
    text-align: left;
}

.card:hover {
    opacity: .5;
    color: rgb(41, 40, 40);
    cursor: pointer;
}

